/* 
Note: Make sure that you choose the imports 
correctly so the output file will contain the 
imported file and data, and not the "import" command. 
https://sass-lang.com/documentation/at-rules/import/#plain-css-imports
*/
/*  Basics */
/* Label Colors */
/* danger colors */
/* Mostly for neutral buttons */
/* SAME AS: clr-dynamic-button-black-hovered */
/* SAME AS: clr-dynamic-button-black-pressed */
/* For transparent buttons with dynamic colors */
/* text */
/* List & Group */
/* textarea focus */
.icon-drag {
  content: url("//www.gstatic.com/images/icons/material/system_gm/2x/drag_indicator_white_20dp.png");
}

.icon-close-grayblue {
  -webkit-mask: url("/public/icons/close.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
  background-color: #42526e;
}

.icon-close-white {
  -webkit-mask: url("/public/icons/close.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
  background-color: #ffffff;
}

.icon-task-details-cover {
  content: url("/public/icons/task-cover.png");
}

.icon-task-details-header {
  content: url("/public/icons/task-details-header.png");
}

.icon-watch-task {
  content: url("/public/icons/watch-task.svg");
}

.icon-task-members {
  content: url("/public/icons/member-gray.svg");
}

.icon-task-checklist {
  content: url("/public/icons/checklists.svg");
}

.icon-task-dates {
  content: url("/public/icons/clock.svg");
}

.icon-task-attachments {
  content: url("/public/icons/attachment2.svg");
}

.icon-task-copy {
  content: url("/public/icons/copy.svg");
}

.icon-task-make-template {
  content: url("/public/icons/template.svg");
}

.icon-task-share {
  content: url("/public/icons/share.svg");
}

.icon-show-more {
  content: url("/public/icons/show-more.svg");
}

.icon-add {
  content: url("/public/icons/add.svg");
}

.icon-search {
  content: url("/public/icons/search.svg");
}

.icon-notifications {
  content: url("/public/icons/notifications.svg");
}

.icon-info {
  content: url("/public/icons/information.svg");
}

.icon-account {
  content: url("/public/icons/member-add.svg");
}

.icon-star {
  z-index: 999;
  content: url("/public/icons/star.svg");
}

.icon-star-starred {
  -webkit-mask: url("/public/icons/star-filled.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
  background-color: rgb(226, 178, 3);
  width: 18px;
  height: 18px;
}

.icon-star-starred-hovered {
  -webkit-mask: url("/public/icons/star.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
  background-color: rgb(226, 178, 3);
  width: 15px;
  height: 15px;
}

.icon-members {
  content: url("/public/icons/members.svg");
}

.icon-board {
  content: url("/public/icons/board.svg");
}

.icon-power {
  content: url("/public/icons/power.svg");
}

.icon-automation {
  content: url("/public/icons/automation.svg");
}

.icon-filter {
  content: url("/public/icons/filter.svg");
}

.icon-member {
  content: url("/public/icons/member.svg");
}

.icon-side-bar {
  content: url("/public/icons/more-options.svg");
}

.icon-show-options {
  content: url("/public/icons/svgexport-36.svg");
}

.icon-play {
  -webkit-mask: url("/public/icons/play-icon.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
  background-color: #ffffff;
  width: 25px;
  height: 24px;
}

.icon-carousel-right {
  content: url("/public/icons/carousel-arrow-right.svg");
}

.icon-carousel-left {
  content: url("/public/icons/carousel-arrow-left.svg");
}

.icon-template {
  content: url("/public/icons/template.svg");
  width: 19px;
  height: 19px;
}

.icon-edit {
  content: url("/public/icons/edit.svg");
  width: 20px;
  height: 20px;
}

.icon-description {
  content: url("/public/icons/description.svg");
  width: 17px;
  height: 17px;
}

.icon-comments {
  content: url("/public/icons/comments.svg");
  width: 17px;
  height: 17px;
}

.icon-checklists {
  content: url("/public/icons/checklists.svg");
  width: 17px;
  height: 17px;
}

.icon-clock-alert {
  content: url("/public/icons/clock-alert.svg");
  width: 17px;
  height: 17px;
}

.icon-clock-alert-red {
  content: url("/public/icons/clock-red.svg");
  width: 17px;
  height: 17px;
}

.icon-clock-alert-white {
  content: url("/public/icons/clock-white.svg");
  width: 17px;
  height: 17px;
}

.icon-member-gray {
  content: url("/public/icons/member-gray.svg");
  width: 17px;
  height: 17px;
}

.icon-close-regular {
  content: url("/public/icons/close.svg");
}

.icon-close-add-task {
  content: url("/public/icons/close.svg");
  width: 18px;
  height: 18px;
}

.icon-more-options {
  content: url("/public/icons/more-options.svg");
  width: 17px;
  height: 17px;
}

.icon-add-group {
  content: url("/public/icons/add-group.svg");
  width: 17px;
  height: 17px;
}

.icon-add-task {
  content: url("/public/icons/add-task.svg");
  width: 17px;
  height: 17px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #44546f;
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto", "Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

ul {
  padding: 0px;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

button {
  font-family: inherit;
  font-size: 14px;
  color: #172b4d;
  cursor: pointer;
  background-color: inherit;
}
button * {
  pointer-events: none;
}

input {
  font-family: inherit;
  text-align: inherit;
}
input:focus {
  outline: none;
}

a.active {
  font-weight: 600;
}

svg {
  fill: white;
  box-sizing: content-box;
  height: 24px;
  width: 24px;
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto", "Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  resize: none;
  border-radius: 4px;
  border-width: 0px;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
}
textarea:focus {
  background-color: white;
  outline: none;
  box-shadow: inset 0 0 0 2px #388bff;
}

/* 
one-element-page-parent
one-element-page-child
scrollable-thin
scrollable-square-black
scrollable-square-white
*/
.one-element-page {
  /* one-element-page-parent */
  /* one-element-page-child */
}
.one-element-page-parent {
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: rgb(71, 71, 71);
  color: rgb(162, 167, 172);
}
.one-element-page-child {
  background-color: rgb(46, 46, 46);
  border-radius: 20px;
  border-color: rgb(82, 82, 82);
  border-width: 2px;
  border-style: solid;
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.2), inset -1px 0 0 rgba(255, 255, 255, 0.2), 0 0 4px 0 rgba(95, 99, 104, 0.6), 0 0 6px 2px rgba(95, 99, 104, 0.6);
  width: max(400px, 50vw);
  height: max(400px, 50vh);
}
.one-element-page-child h1 {
  font-size: 40px;
  margin: 30px 10px 10px 10px;
}
.one-element-page-child nav * {
  margin: 12px;
  font-size: 22px;
}
.one-element-page-child nav *.active {
  color: rgb(206, 212, 218);
}

/* scrollable-thin */
.scrollable-thin {
  overflow-y: scroll;
}

.scrollable-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollable-thin::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: transparent;
}

.scrollable-thin:hover::-webkit-scrollbar-thumb {
  background-color: rgb(112, 112, 112);
}

.scrollable-thin::-webkit-scrollbar-thumb:hover {
  background-color: rgb(232, 232, 232);
}

/* scrollable-square-black */
.scrollable-square-black {
  overflow-y: scroll;
}

.scrollable-square-black::-webkit-scrollbar {
  width: 11px;
}

.scrollable-square-black::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2) inset;
}

.scrollable-square-black::-webkit-scrollbar-track:hover {
  background: rgb(66, 66, 66);
  box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.18) inset;
}

.scrollable-square-black::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5) inset;
}

.scrollable-square-black::-webkit-scrollbar-thumb:active {
  background-color: rgba(255, 255, 255, 0.9);
}

.scrollable-square-black::-webkit-scrollbar-track:active {
  box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2) inset;
}

/* scrollable-square-white */
.scrollable-square-white {
  overflow-y: scroll;
}

.scrollable-square-white::-webkit-scrollbar {
  width: 9px;
}

.scrollable-square-white::-webkit-scrollbar-thumb {
  background-color: rgb(204, 204, 204);
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1) inset, 0px -1px 0px rgba(0, 0, 0, 0.07) inset;
}

.scrollable-square-white::-webkit-scrollbar-thumb:hover {
  background-color: rgb(148, 148, 148);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25) inset;
}

.scrollable-square-white::-webkit-scrollbar-track:hover {
  background: rgb(246, 246, 246);
  box-shadow: 1px 0px 0px rgb(211, 211, 211) inset;
}

.scrollable-square-white::-webkit-scrollbar-thumb:active {
  background-color: rgb(121, 121, 121);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35) inset;
}

.scrollable-square-white::-webkit-scrollbar-track:active {
  background-color: rgb(242, 242, 242);
  box-shadow: 1px 1px 0px rgb(208, 208, 208) inset;
}

.btn {
  margin: 0;
  border: 0;
  border-radius: 3px;
  background-color: rgb(223, 225, 230);
}
.btn :hover {
  background-color: white;
}

.transparent-btn-black {
  border-radius: 3px;
  border-width: 0px;
  background-color: transparent;
  transition: background-color 10ms ease-out 0s;
  transition: background-color 10ms ease-out 0s;
}
.transparent-btn-black:hover {
  background-color: rgba(9, 30, 66, 0.1411764706);
}
.transparent-btn-black:active {
  background-color: rgba(9, 30, 66, 0.3098039216);
}
.transparent-btn-white {
  border-radius: 3px;
  border-width: 0px;
  background-color: transparent;
  transition: background-color 10ms ease-out 0s;
  transition: background-color 10ms ease-out 0s;
}
.transparent-btn-white:hover {
  background-color: rgba(166, 197, 226, 0.1607843137);
}
.transparent-btn-white:active {
  background-color: rgba(191, 219, 248, 0.2784313725);
}

@keyframes slide-in-out {
  0% {
    transform: translateY(150%);
  }
  12% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(150%);
    opacity: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes scalein {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scaleout {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.6);
  }
}
@keyframes scaleinsoft {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
@font-face {
  font-family: "Charlie-Text";
  src: url("../fonts/CharlieDisplay-Regular.otf");
}
@font-face {
  font-family: "Charlie-Display";
  src: url("../fonts/CharlieDisplay-Semibold.otf");
}
/* Pages */
.home-page-container {
  height: 100vh;
  overflow-y: auto;
}
.home-page-container .home-header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: white;
  font-family: "Charlie-Text", sans-serif;
  box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
}
.home-page-container .home-header .header-content {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1320px) 1fr;
  letter-spacing: 0.7px;
  word-spacing: 2px;
  justify-content: space-between;
}
.home-page-container .home-header .header-content .logo {
  grid-area: 1/2;
  padding: 16px;
  padding-top: 11px;
  padding-bottom: 11px;
}
.home-page-container .home-header .header-content .link-to-boards {
  height: 60px;
  grid-area: 1/2;
  justify-self: end;
  display: flex;
  align-items: center;
  background-color: rgb(23, 43, 77);
  color: white;
  transition: background-color 50ms ease-out 0s;
}
.home-page-container .home-header .header-content .link-to-boards:hover {
  background-color: rgb(80, 95, 121);
}
.home-page-container .home-header .header-content .link-to-boards .nav-link {
  text-decoration: none;
  padding: 8px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 19.2px;
  font-weight: 400;
  line-height: 28.8px;
}
.home-page-container .section1-container {
  display: grid;
  grid-template-columns: 1fr 1140px 1fr;
  background: url("/icons/white-wave-bg.svg") center bottom -0.5px/100% 14% no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0%/auto repeat scroll padding-box border-box rgb(82, 67, 170);
  background-blend-mode: normal, normal;
  color: rgb(255, 255, 255);
}
.home-page-container .section1-container > * {
  grid-column: 2;
}
.home-page-container .section1-container .first-section {
  display: grid;
  grid-template-columns: 570px 665px;
  align-items: center;
}
.home-page-container .section1-container .first-section .left-side {
  grid-area: 1/1;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 128px;
  padding-bottom: 128px;
  position: relative;
}
.home-page-container .section1-container .first-section .left-side h1 {
  font-family: "Charlie-Display", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 8px;
}
.home-page-container .section1-container .first-section .left-side p {
  font-family: "Charlie-Text", sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
}
.home-page-container .section1-container .first-section .left-side form {
  font-family: "Charlie-Text", sans-serif;
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}
.home-page-container .section1-container .first-section .left-side form input {
  letter-spacing: 1px;
  width: 298px;
  height: 48px;
  border-radius: 4.8px;
  padding: 12px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid rgb(255, 255, 255);
  transition: outline 150ms ease-out 0s;
}
.home-page-container .section1-container .first-section .left-side form input:focus {
  outline: 2px solid rgb(255, 255, 255);
}
.home-page-container .section1-container .first-section .left-side form button {
  letter-spacing: 0.5px;
  background-color: rgb(0, 101, 255);
  width: 162px;
  color: white;
  border-radius: 4.8px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 11.2px;
  padding-bottom: 12.8px;
  transition: background-color 250ms ease-out 0s;
}
.home-page-container .section1-container .first-section .left-side form button:hover {
  background-color: rgb(7, 71, 166);
}
.home-page-container .section1-container .first-section .left-side a {
  width: -moz-fit-content;
  width: fit-content;
  color: rgba(255, 255, 255, 0.805);
  display: flex;
  text-decoration: underline;
  transition: color 250ms ease-out 0s;
}
.home-page-container .section1-container .first-section .left-side a:hover {
  color: white;
}
.home-page-container .section1-container .first-section .left-side a:hover i {
  margin-left: 15px;
}
.home-page-container .section1-container .first-section .left-side a i {
  margin-left: 8px;
  transition: margin-left 0.3s ease;
}
.home-page-container .section1-container .first-section .right-side {
  grid-area: 1/2;
  justify-self: start;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 128px;
  position: relative;
  flex-basis: auto;
  scroll-margin-top: 72px;
  z-index: 1;
  text-align: center;
}
.home-page-container .section2-container {
  grid-template-columns: 1fr 1140px 1fr;
  display: grid;
  background: linear-gradient(0deg, rgb(230, 252, 255), rgb(255, 255, 255)) 0% 0%/auto repeat scroll padding-box border-box rgb(178, 212, 255);
  background-blend-mode: normal;
}
.home-page-container .section2-container > * {
  grid-column: 2;
}
.home-page-container .section2-container .second-section {
  padding-left: 16px;
  padding-top: 16px;
  color: rgb(9, 30, 66);
}
.home-page-container .section2-container .second-section .trello-101 {
  font-family: "Charlie-Text", sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
}
.home-page-container .section2-container .second-section .second-section-title {
  font-family: "Charlie-Display", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
  padding-bottom: 14px;
  margin-bottom: 8px;
}
.home-page-container .section2-container .second-section .second-section-overview {
  font-family: "Charlie-Text", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  width: 630px;
  word-spacing: 1px;
  letter-spacing: 1px;
  padding-bottom: 16px;
}
.home-page-container .section2-container .second-section .second-section-list-container {
  display: grid;
  grid-template-columns: 379px auto;
  padding-top: 16px;
  padding-bottom: 80px;
}
.home-page-container .section2-container .second-section .second-section-list-container ul {
  list-style: none;
  display: flex;
  gap: 16px;
  flex-direction: column;
  grid-area: 1/1;
  padding-right: 32px;
  padding-top: 16px;
}
.home-page-container .section2-container .second-section .second-section-list-container ul li {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-right: 16px;
  padding-left: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 4.8px;
  background-color: transparent;
}
.home-page-container .section2-container .second-section .second-section-list-container ul li h3 {
  font-family: "Charlie-Display", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 21.3px;
}
.home-page-container .section2-container .second-section .second-section-list-container ul li p {
  font-family: "Charlie-Text", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.7px;
  word-spacing: 0.8px;
}
.home-page-container .section2-container .second-section .second-section-list-container ul .selected-card {
  background-color: white;
  box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
  position: relative;
}
.home-page-container .section2-container .second-section .second-section-list-container ul .selected-card::before {
  border-bottom-left-radius: 4.8px;
  border-top-left-radius: 4.8px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 8px; /* Adjust this for the width of the colored line */
  background-color: rgb(0, 199, 229); /* Color of the line */
}
.home-page-container .section2-container .second-section .second-section-list-container Img {
  padding-top: 16px;
  width: 97%;
}
.home-page-container .section3-container {
  grid-template-columns: 1fr 1140px 1fr;
  display: grid;
  overflow-x: hidden;
}
.home-page-container .section3-container > * {
  grid-column: 2;
}
.home-page-container .section3-container .third-section {
  color: rgb(9, 30, 66);
  margin-top: 48px;
}
.home-page-container .section3-container .third-section .section-header {
  padding: 16px;
}
.home-page-container .section3-container .third-section .section-header p {
  font-family: "Charlie-Text", sans-serif;
  letter-spacing: 0.5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}
.home-page-container .section3-container .third-section .section-header h1 {
  font-family: "Charlie-Display", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
  padding-bottom: 16px;
}
.home-page-container .section3-container .third-section .arrow-btns {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.home-page-container .section3-container .third-section .arrow-btns button {
  border: none;
}
.home-page-container .section3-container .third-section .carousel {
  width: 100%;
  display: flex;
  list-style: none;
  position: relative;
  transition: 0.5s ease;
}
.home-page-container .section3-container .third-section .card-container {
  flex: 0 0 33%;
  padding: 16px;
}
.home-page-container .section3-container .third-section .carousel-card {
  height: 100%;
  border-radius: 8px;
  box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
  transition: box-shadow 50ms ease-out 0s;
}
.home-page-container .section3-container .third-section .carousel-card:hover {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 0.5rem 1rem 0px;
}
.home-page-container .section3-container .third-section .carousel-card .card-color {
  border-top-left-radius: 8px; /* Adjust as needed */
  border-top-right-radius: 8px;
  height: 48px;
}
.home-page-container .section3-container .third-section .carousel-card .card-content {
  padding: 24px;
  padding-top: 36px;
}
.home-page-container .section3-container .third-section .carousel-card .card-content h3 {
  font-family: "Charlie-Display", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-block-end: 8px;
}
.home-page-container .section3-container .third-section .carousel-card .card-content p {
  word-spacing: 0.5px;
  letter-spacing: 0.5px;
  font-family: "Charlie-Text", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-block-end: 8px;
}
.home-page-container .section3-container .third-section .carousel-card.carousel-card-1 {
  position: relative;
}
.home-page-container .section3-container .third-section .carousel-card.carousel-card-1 .card-color {
  background-color: rgb(255, 116, 82);
}
.home-page-container .section3-container .third-section .carousel-card.carousel-card-1 .card-icon {
  position: absolute;
  background-color: white;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: contain;
  border-width: 8px;
  border-radius: 8px;
  border-style: solid;
  border-color: white;
  height: 3rem;
  width: 3rem;
  left: 1rem;
  top: 20px;
  background-image: url("/public/home-page/icon-folder.png");
}
.home-page-container .section3-container .third-section .carousel-card.carousel-card-2 {
  position: relative;
}
.home-page-container .section3-container .third-section .carousel-card.carousel-card-2 .card-color {
  background-color: rgb(38, 132, 255);
}
.home-page-container .section3-container .third-section .carousel-card.carousel-card-2 .card-icon {
  position: absolute;
  background-color: white;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: contain;
  border-width: 8px;
  border-radius: 8px;
  border-style: solid;
  border-color: white;
  height: 3rem;
  width: 3rem;
  left: 1rem;
  top: 20px;
  background-image: url("/public/home-page/icon-megaphone.png");
}
.home-page-container .section3-container .third-section .carousel-card.carousel-card-3 {
  position: relative;
}
.home-page-container .section3-container .third-section .carousel-card.carousel-card-3 .card-color {
  background-color: rgb(87, 217, 163);
}
.home-page-container .section3-container .third-section .carousel-card.carousel-card-3 .card-icon {
  position: absolute;
  background-color: white;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: contain;
  border-width: 8px;
  border-radius: 8px;
  border-style: solid;
  border-color: white;
  height: 3rem;
  width: 3rem;
  left: 1rem;
  top: 20px;
  background-image: url("/public/home-page/icon-leaf.png");
}
.home-page-container .section3-container .third-section .carousel-card.carousel-card-4 {
  position: relative;
}
.home-page-container .section3-container .third-section .carousel-card.carousel-card-4 .card-color {
  background-color: rgb(255, 196, 0);
}
.home-page-container .section3-container .third-section .carousel-card.carousel-card-4 .card-icon {
  position: absolute;
  background-color: white;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: contain;
  border-width: 8px;
  border-radius: 8px;
  border-style: solid;
  border-color: white;
  height: 3rem;
  width: 3rem;
  left: 1rem;
  top: 20px;
  background-image: url("/public/home-page/icon-checklist.png");
}
.home-page-container .section3-container .third-section .carousel-card.carousel-card-5 {
  position: relative;
}
.home-page-container .section3-container .third-section .carousel-card.carousel-card-5 .card-color {
  background-color: rgb(0, 199, 229);
}
.home-page-container .section3-container .third-section .carousel-card.carousel-card-5 .card-icon {
  position: absolute;
  background-color: white;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: contain;
  border-width: 8px;
  border-radius: 8px;
  border-style: solid;
  border-color: white;
  height: 44px;
  width: 3rem;
  left: 1rem;
  top: 20px;
  background-image: url("/public/home-page/icon-clouds.svg");
}
.home-page-container .section3-container .third-section .carousel-card.carousel-card-6 {
  position: relative;
}
.home-page-container .section3-container .third-section .carousel-card.carousel-card-6 .card-color {
  background-color: rgb(249, 156, 219);
}
.home-page-container .section3-container .third-section .carousel-card.carousel-card-6 .card-icon {
  position: absolute;
  background-color: white;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: contain;
  border-width: 8px;
  border-radius: 8px;
  border-style: solid;
  border-color: white;
  height: 3rem;
  width: 3rem;
  left: 1rem;
  top: 20px;
  background-image: url("/public/home-page/icon-book.png");
}

.board-index-container {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 256px) minmax(228px, 825px) 1fr;
}
.board-index-container .all-boards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 40px;
  grid-area: 1/3;
}
.board-index-container .all-boards .board-list-title {
  padding-bottom: 11px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.board-index-container .all-boards a {
  text-decoration: none;
}
.board-index-container .all-boards .board-list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  transform: translate(0);
  flex-wrap: wrap;
  list-style: none;
}
.board-index-container .all-boards .board-list .board-preview {
  background-size: cover;
  display: flex;
  background-position: center center;
  background-repeat: no-repeat;
  width: 23.5%;
  color: white;
  margin: 0 1.5% 1.5% 0;
  border-radius: 3px;
  text-align: left;
  overflow: hidden;
}
.board-index-container .all-boards .board-list .board-preview:hover {
  filter: brightness(0.9);
  transition: 20ms;
}
.board-index-container .all-boards .board-list .board-preview.new-board {
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(9, 30, 66, 0.0588235294);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #172b4d;
  transition: background-color 10ms ease-out 0s;
  transition: background-color 10ms ease-out 0s;
}
.board-index-container .all-boards .board-list .board-preview.new-board:hover {
  background-color: rgba(9, 30, 66, 0.1411764706);
}
.board-index-container .all-boards .board-list .board-preview.new-board:active {
  background-color: rgba(9, 30, 66, 0.3098039216);
}
.board-index-container .all-boards .board-list .board-preview .link-to-board {
  width: 100%;
}
.board-index-container .all-boards .board-list .board-preview .link-to-board {
  width: 100%;
}
.board-index-container .all-boards .board-list .board-preview .board-preview-content {
  position: relative;
  width: auto;
  margin: 8px;
  height: 80px;
}
.board-index-container .all-boards .board-list .board-preview .board-preview-content .board-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
.board-index-container .all-boards .board-list .board-preview .board-preview-content .board-tile-options {
  display: flex;
  position: absolute;
  top: 76%;
  right: -29px;
  opacity: 5%;
  transition: right 0.1s ease-in-out, opacity 0.1s;
}
.board-index-container .all-boards .board-list .board-preview .board-preview-content:hover .board-tile-options {
  right: 1%;
  opacity: 100%;
}
.board-index-container .all-boards .board-list .board-preview .board-preview-content:hover .board-tile-options i:hover {
  height: 18px;
  width: 18px;
}

.home {
  height: 100vh;
}

/* General props */
.task-details {
  position: relative;
  margin: 48px 0px 80px 0px;
  width: clamp(200px, 100%, 768px);
  border-radius: 12px;
  background-color: #f1f2f4;
  display: grid;
  overflow: hidden;
  color: #172b4d;
  min-height: 50%;
}
.task-details-wrapper {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.64);
  overflow-x: hidden;
  overflow-y: auto;
}
.task-details-icon-close {
  z-index: 21;
  position: absolute;
  top: 12px;
  right: 12px;
  display: block;
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
}
.task-details-icon-close i {
  z-index: 22;
  box-sizing: content-box;
  display: block;
  width: 20px;
  height: 20px;
}
.task-details-cover {
  position: relative;
  height: 116px;
  background-color: #f87168;
  /* test */
  overflow: hidden;
}
.task-details-cover-btn {
  position: absolute;
  bottom: 12px;
  right: 12px;
  padding: 6px 12px 6px 6px;
  display: flex;
  align-items: center;
}
.task-details-cover-btn i {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 5px 4px 4.7px 4px;
}
.task-details-btn {
  border-radius: 3px;
  border-width: 0px;
  background-color: rgba(9, 30, 66, 0.0588235294);
  transition: background-color 10ms ease-out 0s;
  transition: background-color 10ms ease-out 0s;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  height: 32px;
  display: flex;
  align-items: center;
}
.task-details-btn:hover {
  background-color: rgba(9, 30, 66, 0.1411764706);
}
.task-details-btn:active {
  background-color: rgba(9, 30, 66, 0.3098039216);
}
.task-details-btn i {
  margin-left: 2px;
  margin-right: 8px;
  height: 16px;
  width: 16px;
}
.task-details h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.task-details h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.task-details h3 {
  color: #44546f;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
}

/* Main-Props */
.task-details-data {
  padding: 8px 16px 32px 16px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 168px;
  grid-template-areas: "a a" "b c";
}
.task-details-header {
  grid-area: a;
  padding: 0px 52px 8px 56px;
  position: relative;
}
.task-details-header .icon-task-details-header {
  position: absolute;
  top: 24px;
  left: 22px;
  display: block;
  box-sizing: border-box;
  height: 15px;
}
.task-details-header textarea {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  height: 37px;
  padding: 6px 10px 6px 10px;
  margin: 6px -6px -6px -6px;
}
.task-details-header span {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 4px 8px 12px 2px;
  display: inline-flex;
}
.task-details-header span a {
  text-decoration: underline;
}
.task-details-header .icon-watch-task {
  width: 16px;
  margin-left: 10px;
}
.task-details-main {
  grid-area: b;
}
.task-details-sidebar {
  grid-area: c;
}
.task-details-sidebar-prop {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  margin-bottom: 10px;
}
.task-details-sidebar-actions {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}
.task-details-sidebar .sidebar-header {
  margin-bottom: -4px;
}

/* Components */
.app-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;
  border-bottom: 0.1px solid white;
}
.app-navbar .nav-link {
  display: inline;
  margin: 8px;
  text-decoration: none;
  padding: 8px;
  position: relative;
  cursor: pointer;
}
.app-navbar .nav-link:hover,
.app-navbar .create,
.app-navbar .search-section {
  border-radius: 5px;
  text-decoration: none;
  padding: 8px;
  text-align: center;
}
.app-navbar .create:hover {
  background-color: rgba(191, 219, 248, 0.2784313725);
}
.app-navbar .icon-logo {
  height: 32;
  width: 91;
}
.app-navbar .icon-show-more {
  height: 16px;
  width: 16px;
  margin: 0 6px;
}
.app-navbar .nav-buttons {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.app-navbar .nav-buttons .search-section {
  display: flex;
  border: 0.5px white solid;
  border-radius: 10px;
  padding: 7px;
}
.app-navbar .nav-buttons .search-section .icon-search {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
.app-navbar .nav-buttons .search-section .search-input {
  border: none;
}
.app-navbar .nav-buttons input::-moz-placeholder {
  color: white;
  float: left;
}
.app-navbar .nav-buttons input::placeholder {
  color: white;
  float: left;
}
.app-navbar .nav-buttons .notifications-btn,
.app-navbar .nav-buttons .info-btn,
.app-navbar .nav-buttons .account-btn {
  margin: 0 4px;
  padding: 4px;
}
.app-navbar .nav-buttons .notifications-btn:hover,
.app-navbar .nav-buttons .info-btn:hover,
.app-navbar .nav-buttons .account-btn:hover {
  background-color: rgba(166, 197, 226, 0.1607843137);
  border-radius: 50%;
  padding: 4px;
}

.dropdown {
  border: 2px solid #943d73;
  border-radius: 10px;
  height: 100px;
  width: 200px;
  margin: 10px;
  position: absolute;
  top: 40px;
  left: 1px;
}

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  filter: brightness(70%);
  color: white;
  padding: 10px;
}
.board-header .board-header-section {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 8px;
  cursor: pointer;
}
.board-header .board-header-section .board-header-btn {
  display: flex;
  align-items: center;
  margin: auto 6px;
  padding: 7px;
}
.board-header .board-header-section .board-header-btn .icon {
  margin: auto 7px;
}
.board-header .board-header-section .board-name {
  margin: auto 10px;
  font-weight: 700;
  font-size: 20px;
}
.board-header .board-header-section .board-btn {
  color: black;
  font-weight: 500;
  background-color: #DFE1E6;
  padding: 6px 10px;
  border-radius: 5px;
  text-align: center;
}
.board-header .board-header-section .board-btn .icon-board {
  margin: auto 5px;
}
.board-header .board-header-section .share-btn {
  color: black;
  font-weight: 500;
  background-color: #DFE1E6;
  padding: 6px 10px;
  border-radius: 5px;
  text-align: center;
}
.board-header .board-header-section .board-header-btn:hover {
  background-color: rgba(166, 197, 226, 0.1607843137);
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}
.board-header .board-header-section .board-members:hover {
  background-color: #943d73;
}
.board-header .board-header-section .icon-member:hover {
  background-color: rgba(166, 197, 226, 0.1607843137);
  border-radius: 50%;
}
.board-header .board-header-section .board-btn:hover,
.board-header .board-header-section .share-btn:hover {
  background-color: white;
}

.group-list-ul {
  border-radius: 10px;
  display: flex;
  list-style-type: none;
  margin: 5px;
  height: 81vh;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 8px;
}
.group-list-ul .group-list {
  display: flex;
  justify-content: flex-start;
}
.group-list-ul .group-item {
  margin: 7px;
  text-decoration: none;
}
.group-list-ul .action {
  width: 290px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.group-list-ul .add-group-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
  padding: 12px;
  cursor: pointer;
}
.group-list-ul .add-group-button div {
  border: none;
  font-size: 16px;
  color: white;
}
.group-list-ul .add-group-form {
  width: 280px;
  height: auto;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 1px 1px rgba(9, 30, 66, 0.2509803922), 0px 0px 1px rgba(9, 30, 66, 0.3098039216);
  padding: 8px;
}
.group-list-ul .add-group-form .group-title-input {
  height: 32px;
  border-radius: 4px;
  color: #172b4d;
  border: 2.5px solid #388bff;
  display: block;
  width: 95%;
  margin: 5px;
  padding: 5px;
}
.group-list-ul .add-group-form ::-moz-placeholder {
  font-weight: 600;
  font-size: 16px;
}
.group-list-ul .add-group-form ::placeholder {
  font-weight: 600;
  font-size: 16px;
}
.group-list-ul .add-group-form .add-group-buttons {
  padding: 5px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  border-radius: 4px;
}
.group-list-ul .add-group-form .add-group-buttons .add-group-button {
  background-color: #0c66e4;
  box-shadow: none;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 6px 12px;
  font-weight: 600;
  font-size: 16px;
  width: auto;
}
.group-list-ul .add-group-form .add-group-buttons .close-button {
  border: none;
  color: black;
  padding: 6px;
  font-weight: 500;
}

.group-list-ul::-webkit-scrollbar {
  height: 15px;
}

.group-list-ul::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1490196078);
  border-radius: 50px;
}

.group-list-ul::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50px;
}

.group-preview {
  background-color: #f1f2f4;
  border-radius: 14px;
  padding: 0 6px;
  width: 290px;
  height: auto;
}

.task-list {
  list-style-type: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 8px;
  box-sizing: border-box;
  vertical-align: top;
}
.task-list .group-header {
  color: #172b4d;
  padding: 8px 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.task-list .group-header .group-title {
  font-weight: 500;
}
.task-list .group-header .edit-group-title {
  width: 86%;
  border: 1.5px solid blue;
  padding: 7px;
  border-radius: 10px;
}
.task-list .scrollbar {
  min-height: 30px;
  max-height: 55vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
}
.task-list .scrollbar::-webkit-scrollbar {
  width: 8px;
}
.task-list .scrollbar::-webkit-scrollbar-track {
  background-color: rgba(9, 30, 66, 0.0588235294);
  border-radius: 50px;
}
.task-list .scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(9, 30, 66, 0.1411764706);
  border-radius: 50px;
}
.task-list .task-preview {
  text-decoration: none;
  box-shadow: 0px 1px 1px rgba(9, 30, 66, 0.2509803922), 0px 0px 1px rgba(9, 30, 66, 0.3098039216);
  margin: 6px;
  background-color: #FFFFFF;
  border-radius: 8px;
  min-height: 24px;
  z-index: 10;
  border: 1px solid transparent;
  font-size: 14px;
}
.task-list .group-footer {
  padding: 3px 3px 0;
  color: #172b4d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 8px;
}
.task-list .group-footer .add-task-button {
  padding: 5px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  margin: 0;
}
.task-list .group-footer .add-task-button div {
  border: none;
  font-size: 16px;
  font-weight: 500;
  margin: 0 5px;
}
.task-list .group-footer .add-task-button .icon-template {
  margin: 0 5px;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}

.task-title-input {
  height: 80px;
  border: none;
  border-radius: 10px;
  font-size: medium;
  padding: 7px;
}

.add-task-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 8px;
}
.add-task-buttons .add-task-button {
  background-color: #0c66e4;
  box-shadow: none;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 6px 12px;
  font-weight: 500;
  font-size: 14px;
}
.add-task-buttons .close-button {
  color: black;
  padding: 6px;
  font-weight: 500;
}

.edit-task-header,
.edit-task-header-styled {
  display: none;
}

.task-preview:hover {
  border: 1px solid #0c66e4;
  box-shadow: 0px 1px 1px rgba(9, 30, 66, 0.2509803922), 0px 0px 1px rgba(9, 30, 66, 0.3098039216);
  cursor: pointer;
}

.task-preview:hover .edit-task-header {
  display: block;
  border: none;
}

.task-preview:hover .edit-task-header-styled {
  padding: 8px;
  display: block;
  border: none;
  float: right;
  background-color: white;
  border-radius: 50%;
}

.task-preview {
  min-height: 24px;
  border: 1px solid transparent;
}
.task-preview .task-header {
  height: 36px;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.task-preview .task-body {
  padding: 8px;
}
.task-preview .task-body .edit-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-preview .task-body .labels .label {
  margin-top: 0;
  margin-bottom: 0;
  min-width: 40px;
  max-width: 40px;
  height: 8px;
  background-color: aqua;
  border-radius: 4px;
  padding: 0 8px;
}

.task-actions {
  padding-left: 12px;
  padding-right: 8px;
  padding-bottom: 10px;
}
.task-actions .task-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.task-actions .task-icons .icon-with-counts {
  display: flex;
  align-items: center;
}
.task-actions .task-icons .icon-with-counts span {
  padding-right: 2px;
  padding-left: 2px;
  font-size: 12px;
}
.task-actions .task-icons .due-date {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}
.task-actions .task-icons .due-date span {
  margin-left: 3px;
}
.task-actions .task-icons .pass {
  background-color: rgb(239, 189, 189);
  color: #690303;
}
.task-actions .task-icons .today {
  background-color: rgb(180, 9, 9);
  color: white;
}
.task-actions .task-icons .tomorrow {
  background-color: darkgoldenrod;
  color: darkgrey;
}
.task-actions .members {
  display: flex;
  align-items: center;
  position: relative;
  left: 15px;
}

.is-dragging-true {
  background-color: white;
  opacity: 0.5;
}

.is-dragging {
  background-color: white;
  opacity: 0.5;
}

/* Modals */
.root-modal {
  background-color: white;
  position: fixed;
  max-height: 639px;
  width: 304px;
  box-shadow: 0px 8px 12px rgba(9, 30, 66, 0.1490196078), 0px 0px 1px rgba(9, 30, 66, 0.3098039216);
  overflow: hidden;
  border-radius: 8px;
  color: #44546f;
}

.root-modal-header {
  display: grid;
  grid-template-columns: 31px auto 31px;
  grid-template-rows: 40px auto;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  align-items: center;
  justify-items: center;
}
.root-modal-header .modal-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  grid-area: 1/2;
}
.root-modal-header .close-modal {
  padding: none;
  justify-self: end;
  border-radius: 8px;
  grid-area: 1/3;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.root-modal-header .close-modal .icon-close-regular {
  height: 16px;
  width: 16px;
}

.create-board-modal {
  padding: 0 12px 12px;
  overflow-y: auto;
  overflow-x: auto;
}
.create-board-modal label {
  display: block;
  margin-bottom: 4px;
  margin-top: 12px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}
.create-board-modal label span {
  color: red;
}
.create-board-modal .board-demo-container {
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
}
.create-board-modal .board-demo-container .bg-board-demo {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  width: 200px;
  height: 120px;
  border-radius: 3px;
  box-shadow: 0px 2px 1px rgba(9, 30, 66, 0.2509803922), 0px 0px 1px rgba(9, 30, 66, 0.3098039216);
}
.create-board-modal .background-picker-container .bg-list-photos {
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
.create-board-modal .background-picker-container .bg-list-photos li {
  list-style: none;
  width: 64px;
  height: 40px;
}
.create-board-modal .background-picker-container .bg-list-photos button {
  background-size: contain;
  background-size: cover;
  display: flex;
  align-items: center;
  background-position: center center;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border: none;
}
.create-board-modal .background-picker-container .bg-list-photos button:hover {
  filter: brightness(0.7);
}
.create-board-modal .background-picker-container .bg-list-photos button:focus {
  filter: brightness(0.7);
}
.create-board-modal .background-picker-container .bg-list-photos button:focus::before {
  content: url("public/icons/check-mark.svg");
  width: 50px;
  height: 25px;
}
.create-board-modal .background-picker-container .bg-list-colors {
  display: flex;
  justify-content: space-between;
}
.create-board-modal .background-picker-container .bg-list-colors li {
  list-style: none;
}
.create-board-modal .background-picker-container .bg-list-colors button {
  border-radius: 3px;
  border: none;
  width: 40px;
  height: 32px;
  background-size: cover;
}
.create-board-modal .background-picker-container .bg-list-colors button:hover {
  filter: brightness(0.7);
}
.create-board-modal .background-picker-container .bg-list-colors button:focus {
  filter: brightness(0.7);
}
.create-board-modal .background-picker-container .bg-list-colors button:focus::before {
  content: url("public/icons/check-mark.svg");
  width: 50px;
  height: 25px;
}
.create-board-modal .bg-more-options {
  background-color: rgba(9, 30, 66, 0.0588235294);
  padding-top: 6px;
}
.create-board-modal .board-title-input {
  width: 100%;
  padding: 8px 12px;
  border: none;
  box-shadow: inset 0 0 0 2px var(--ds-border-danger, #e34935);
  border-radius: 3px;
}
.create-board-modal .board-title-input:focus {
  box-shadow: inset 0 0 0 2px var(--ds-border-focus, #0078bf);
}
.create-board-modal .title-require {
  margin-top: 5px;
  margin-bottom: 8px;
  color: #172b4d;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.create-board-modal .create-board-submit {
  width: 100%;
  padding: 6px 12px;
  margin-top: 16px;
  margin-bottom: 8px;
  border: none;
  background-color: blue;
  border-radius: 3px;
}

.show-options-modal button {
  border: none;
  display: block;
  margin: 10px;
  font-size: medium;
}
.show-options-modal .action:hover {
  background-color: lightgrey;
}
.show-options-modal .modal-actions,
.show-options-modal .modal-action-sort,
.show-options-modal .modal-actions-automation,
.show-options-modal .modal-more-actions {
  border-bottom: 0.5px solid rgb(172, 168, 168);
}
.show-options-modal .group-automation-title {
  font-size: 13px;
  font-weight: 550;
  margin: 15px 10px;
}/*# sourceMappingURL=styles.css.map */