.root-modal {
  background-color: white;
  position: fixed;
  max-height: 639px;
  width: 304px;
  box-shadow: 0px 8px 12px #091e4226, 0px 0px 1px #091e424f;
  overflow: hidden;
  border-radius: 8px;
  color: $clr-text-black-subtle;
}