.app-header-container {
  z-index: 1000;
  width: 100vw;
  background-color: white;
  min-height: 48px;
  max-height: 48px;

  .app-header-content {
    display: flex;
    padding: 8px;
    border-bottom: 0.8px solid rgba(23, 43, 77, 0.16);
    @include fontProps(14px, 500, 32px);

    .app-header-logo-link {
      display: flex;
      align-items: center;
      position: relative;
      padding: 0 8px;
      height: 32px;
      margin-right: 5px;

      .app-header-logo-container,
      .app-header-logo-container-white {
        position: relative;
        width: 75px;
        height: 16px;
        grid-area: 1 / 2;
        padding: 8px 0;
        opacity: 1;
        filter: brightness(0) saturate(100%) invert(30%) sepia(53%) saturate(323%) hue-rotate(179deg) brightness(91%) contrast(88%);

        &::before {
          content: "";
          background-image: url("/logo.gif");
          position: absolute;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
          top: 0;
        }

        &:hover {
          &::before {
            content: "";
            background-image: url("/logo.moving.gif");
            position: absolute;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
          }
        }
      }

      .app-header-logo-container-white {
        filter: none;
      }
    }

    .app-header-avatar {
      padding: 0 6px;
      margin-left: auto;

      .user-avatar {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: none;
      }
    }

    .create-button-container {
      background-color: hsla(0, 0%, 0%, 0.16);
      border-radius: 3px;
      margin-left: 10px;

      .header-create-button {
        cursor: pointer;
        width: 100%;
        padding: 0 12px;
      }
    }

    .header-dropdown {
      cursor: pointer;
      display: flex;
      gap: 5px;
      padding-right: 12px;
      padding-left: 10px;
      margin-right: 4px;
    }
  }
}