.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: transparent;
    filter: brightness(70%);
    // opacity: 1.5;
    color: white;
    padding: 10px;

    .board-header-section {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 8px;
        cursor: pointer;

        .board-header-btn {
            display: flex;
            align-items: center;
            margin: auto 6px;
            padding: 7px;

            .icon {
                margin: auto 7px;
            }
        }

        .board-name {
            margin: auto 10px;
            font-weight: 700;
            font-size: 20px;
        }

        .board-btn {
            color: black;
            font-weight: 500;
            background-color: #DFE1E6;
            padding: 6px 10px;
            border-radius: 5px;
            text-align: center;


            .icon-board {
                margin: auto 5px;
            }
        }

        .share-btn {
            color: black;
            font-weight: 500;
            background-color: #DFE1E6;
            padding: 6px 10px;
            border-radius: 5px;
            text-align: center;
        }

        .board-header-btn:hover {
            background-color: $clr-dynamic-button-white-hovered;
            border-radius: 5px;
            text-decoration: none;
            text-align: center;
        }

        .board-members:hover {
            background-color: $clr-bg-pink-bold-hovered;
        }

        .icon-member:hover {
            background-color: $clr-dynamic-button-white-hovered;
            border-radius: 50%;
        }

        .board-btn:hover,
        .share-btn:hover {
            background-color: white
        }
    }


}