.group-list {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;

    .group-item {
        margin: 10px;
        text-decoration: none;
    }

    .action {
        border: 1px solid black;
        border-radius: 4%;
        width: 250px;
        height: 30px;
        display: flex;
        align-items: center;

        button {
            border: none;
        }
    }
}