.group-list {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    height: 81vh;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-color: #fff6 #00000026;
    scrollbar-width: auto;

    .group-item {
        margin: 10px;
        text-decoration: none;
    }

    .action {
        border: 1px solid black;
        border-radius: 4%;
        height: 60px;
        display: flex;
        align-items: center;

        .add-list-button {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 280px;

            .icon-add {
                font-size: small;
            }

            button {
                border: none;

            }
        }



        .add-list-form {
            width: 280px;
            height: auto;

            .list-title-input {
                width: 95%;
                margin: 5px;
                padding: 5px;
            }

            .add-list-buttons {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 2px;

            }
        }

    }



}