.rich-text-box {
    .editor-wrapper {
        margin: 4px 0px 8px 0px;
        padding: 2px;
        border-radius: 3px;
        background-color: white;
        box-shadow: 0 0 0 1px inset #091e4224;
    }

    .blue-wrapper {
        box-shadow: 0 0 0 2px inset #0c66e4;
    }

    // .editor-header {
    //     height: 50px;
    //     padding: 8px;
    //     border-bottom: solid #091e4224 2px;
    //     display: flex;
    //     align-items: center;

    //     button {
    //         height: 24px;
    //         width: 24px;
    //         padding: 0px;
    //         border-radius: 3px;
    //     }
    // }

    .editor-main {
        min-height: 221px;
        // display: grid;
    }
}

.rtb-class {
    &-wrapper {
        
    }
    &-toolbar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 8px;
        border-bottom: solid #091e4224 2px;
    }
    &-editor {
        padding: 20px;
    }
}


