.task-list {
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 8px;
    box-sizing: border-box;
    vertical-align: top;

    .group-header {
        color: $clr-text-black;
        padding: 8px 13px;
        // padding: 6px 12px 6px 8px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .group-title {
            font-weight: 500;
        }

        .edit-group-title {
            width: 86%;
            border: 1.5px solid blue;
            padding: 7px;
            border-radius: 10px;
        }
    }

    .scrollbar {
        max-height: 70vh;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 1;

        .task-item {
            min-height: 30px;
        }
    }

    .scrollbar::-webkit-scrollbar {
        width: 8px;
    }

    .scrollbar::-webkit-scrollbar-track {
        background-color: $clr-bg-neutral;
        border-radius: 50px;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background-color: $clr-bg-neutral-hovered;
        border-radius: 50px;
    }

    .task-preview {
        text-decoration: none;
        box-shadow: $ds-shadow-raised;
        margin: 6px;
        background-color: $clr-background-item-list;
        border-radius: 8px;
        min-height: 24px;
        z-index: 10;
        border: 1px solid transparent;
        font-size: 14px;
    }

    .group-footer {
        position: relative;
        padding: 8px;
        // padding: 3px 5px 0;
        color: $clr-text-black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 8px;

        .add-task-button {
            position: absolute;
            // padding: 6px 12px 6px 8px;
            padding: 5px 5px 5px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-grow: 1;
            margin: 0;

            div {
                border: none;
                font-size: 16px;
                font-weight: 500;
                margin: 0 5px;
            }

            .icon-template {
                position: absolute;
                left: 15px;
                // margin: 0 5px;
                flex-grow: 0;
                flex-shrink: 0;
                border-radius: 8px;
                padding: 8px;
            }
        }

    }
}

.task-title-input {
    border: none;
    border-radius: 10px;
    font-size: medium;
    padding: 7px;
    margin-bottom: 55px
}

.add-task-buttons {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    // gap: 4px;
    margin: 8px;

    .add-task-button {
        background-color: $clr-background-brand-bold;
        box-shadow: none;
        border: none;
        color: white;
        border-radius: 3px;
        padding: 6px 12px;
        font-weight: 500;
        font-size: 14px;
    }

    .close-button {
        color: black;
        padding: 6px;
        font-weight: 500;
    }
}

.edit-task-header,
.edit-task-header-styled {
    display: none;
}

.task-preview:hover {
    border: 1px solid $clr-bg-blue-bold;
    box-shadow: $ds-shadow-raised;
    cursor: pointer;
    text-decoration: none;
}

.task-preview:hover .edit-task-header {
    display: block;
    border: none;
}

.task-preview:hover .edit-task-header-styled {
    padding: 8px;
    display: block;
    border: none;
    float: right;
    background-color: white;
    border-radius: 50%;
}