.task-list {
    list-style-type: none;
    background-color: #eeeff1;


    .group-header {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .group-title {
            font-weight: 500;
        }

        .edit-group-title {
            width: 86%;
            border: 1.5px solid blue;
            padding: 7px;
            border-radius: 10px;
        }
    }

    .scrollbar {
        max-height: 63vh;
        overflow: scroll;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .scrollbar::-webkit-scrollbar {
        width: 8px;
    }

    .scrollbar::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(65, 64, 64, 0.3);
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background-color: lightgray;

    }

    .task-item {
        text-decoration: none;
        border: 1px solid lightgrey;
        margin: 7px;
        background-color: white;
        border-radius: 10px;
    }

    .group-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto 8px 8px 8px;

        .add-task-button {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 280px;

            .icon-add {
                font-size: small;
            }

            button {
                border: none;
                padding: 12px;
                font-size: large;
            }
        }

    }
}

.task-title-input {
    height: 80px;
    border: none;
    border-radius: 10px;
    font-size: medium;
}

.edit-task-header {
    display: none;
}

.task-item:hover {
    border: 1px solid blue;
    cursor: pointer;
}

.task-item:hover .edit-task-header {
    display: block;
    border: none;
    float: right;
    background-color: white;
    padding: 2px;
    border-radius: 50%;
}