.task-list {
    list-style-type: none;

    .group-header {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .edit-group-title {
            width: 86%;
            border: 1.5px solid blue;
            padding: 7px;
            border-radius: 10px;
        }
    }

    .task-item {
        text-decoration: none;
        border: 1px solid lightgrey;
        margin: 7px;
    }

    .group-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto 8px 8px 8px;

        .add-task-button {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 280px;

            .icon-add {
                font-size: small;
            }

            button {
                border: none;
                padding: 12px;
                font-size: large;
            }
        }

    }
}

.edit-task-header {
    display: none;
}

.task-item:hover {
    border: 1px solid blue;
    cursor: pointer;
}

.task-item:hover .edit-task-header {
    display: block;
    border: none;
    float: right;
    background-color: white;
    padding: 2px;
    border-radius: 50%;
}