.task-preview {
    min-height: 24px;
    border: 1px solid transparent;

    .task-header {
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .color {
        height: 36px;
    }

    .img {
        height: 260px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .task-body {
        padding: 8px;

        .edit-task {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .labels {
            display: flex;
            justify-content: start;
            gap: 2px;

            .label {
                width: 40px;
                height: 8px;
                border-radius: 4px;

            }
        }
    }
}

.task-actions {
    padding-left: 12px;
    padding-right: 8px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .task-icons {
        display: flex;
        align-items: center;
        gap: 15px;

        .icon-with-counts {
            display: flex;
            align-items: center;

            span {
                padding-right: 2px;
                padding-left: 2px;
                font-size: 12px;
            }
        }

        .checklists-done {
            background-color: $clr-bg-green-bold;
            color: white;
            padding: 5px;
            border-radius: 5px;
            font-size: 12px
        }

        .due-date {
            display: flex;
            align-items: center;
            padding: 5px;
            border-radius: 5px;
            font-size: 12px;

            span {
                margin-left: 3px;
            }

            .checkbox-due-date {
                display: none;
            }

            p {
                width: 11px;
                height: 11px;
                border: 1.5px solid $clr-text-black;
                margin: 2px;
            }

            .past {
                border: 1.5px solid $clr-text-accent-red;
            }

            .today,
            .yesterday {
                border: 1.5px solid white;
            }

            .tomorrow {
                border: 1.5px solid $clr-text-black;
            }

            &:hover {
                .checkbox-due-date {
                    display: block;
                }

                i {
                    display: none;
                }
            }
        }

        .past {
            background-color: $clr-background-accent-red-subtle;
            color: $clr-text-accent-red;
        }

        .today,
        .yesterday {
            background-color: $clr-bg-red-bold;
            color: white;
        }

        .tomorrow {
            background-color: $clr-bg-yellow;
            color: $clr-text-black;
        }

        .done {
            background-color: $clr-bg-green-bold;
            color: white;
        }
    }

    .members {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 5px;
        margin-left: auto;

        button {
            height: 32px;
            width: 32px;
            border-radius: 50%;
            border-width: 0px;
        }
    }

}



.is-dragging-true {
    background-color: white;
    opacity: .5;
}

.is-dragging {
    background-color: white;
    opacity: .5;
}