.home {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    // overflow-x: auto;
    // overflow-y: auto;
    // scrollbar-color: #fff6 #00000026;
    // scrollbar-width: auto;
}