.board-index-container {
  display: grid;
  grid-template-columns: 1fr 1140px 1fr;
  > * {
    grid-column: 2;
  }

  // Temporary

  margin-top: 4rem;

  h3 {
    @include fontProps(16px, 700, 24px);
  }
  .board-list {
    height: fit-content;
    width: 825px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;

    .board-preview {
      width: fit-content;
      flex-basis: 25%;
      width: 25%;
      background-color: $clr-bg-pink-bold;
      color: white;
      margin-right: 16.5px;
      margin-bottom: 16.5px;
      border-radius: 3px;
      text-align: left;
      &.new-board {
        background-color: $clr-bg-neutral;
        button {
          @include fontProps(14px, 400, 24px);
          background-color: transparent;
          color: $clr-text-black;
          border: none;
          height: 100%;
        }
      }
      .board-preview-content {
        margin: 8px;
        height: 80px;
      }
    }
  }
}
