.home-page-container {
  height: 100vh;
  overflow-y: auto;

  // -------------------------------------HEADER--------------HEADER-----------------------HEADER
  .home-header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: white;
    font-family: "Charlie-Text", sans-serif;
    box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
    .header-content {
      display: grid;
      grid-template-columns: 1fr minmax(auto, 1320px) 1fr;
      letter-spacing: 0.7px;
      word-spacing: 2px;
      justify-content: space-between;

      .logo {
        grid-area: 1 / 2;
        padding: 16px;
        padding-top: 11px;
        padding-bottom: 11px;
      }

      .link-to-boards {
        height: 60px;
        grid-area: 1 / 2;
        justify-self: end;
        display: flex;
        align-items: center;
        background-color: rgb(23, 43, 77);
        color: white;
        @include transitionAction(background-color, rgb(80, 95, 121), 50ms);
        .nav-link {
          text-decoration: none;
          padding: 8px;
          padding-left: 24px;
          padding-right: 24px;
          @include fontProps(19.2px, 400, 28.8px);
        }
      }
    }
  }
  // -------------------------------------FirstSection--------------FirstSection-----------------------FirstSection
  .section1-container {
    grid-template-columns: 1fr 1140px 1fr;
    display: grid;
    background: url("/icons/white-wave-bg.svg") center bottom -0.5px / 100% 14% no-repeat
        scroll padding-box border-box,
      linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto
        repeat scroll padding-box border-box rgb(82, 67, 170);
    background-blend-mode: normal, normal;
    color: rgb(255, 255, 255);
    > * {
      grid-column: 2;
    }
    .first-section {
      display: grid;
      grid-template-columns: 570px 665px;
      align-items: center;

      .left-side {
        grid-area: 1 / 1;
        display: flex;
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 128px;
        padding-bottom: 128px;
        position: relative;
        h1 {
          font-family: "Charlie-Display", sans-serif;
          @include fontProps(48px, 600, 60px);
          margin-bottom: 8px;
        }
        p {
          font-family: "Charlie-Text", sans-serif;
          letter-spacing: 1px;
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 32px;
        }
        form {
          font-family: "Charlie-Text", sans-serif;

          display: flex;
          gap: 16px;
          margin-bottom: 24px;
          input {
            letter-spacing: 1px;
            width: 298px;
            height: 48px;
            border-radius: 4.8px;
            padding: 12px;
            @include fontProps(16px, 400);
            border: 1px solid rgb(255, 255, 255);
            @include transitionAction(
              outline,
              2px solid rgb(255, 255, 255),
              150ms,
              focus
            );
          }
          button {
            letter-spacing: 0.5px;
            background-color: rgb(0, 101, 255);
            width: 162px;
            color: white;
            border-radius: 4.8px;
            border: none;
            @include fontProps(16px, 400);
            padding-right: 16px;
            padding-left: 16px;
            padding-top: 11.2px;
            padding-bottom: 12.8px;
            @include transitionAction(background-color, rgb(7, 71, 166), 250ms);
          }
        }
        a {
          width: fit-content;
          color: rgba(255, 255, 255, 0.805);
          display: flex;
          text-decoration: underline;
          @include transitionAction(color, white, 250ms);

          &:hover {
            i {
              margin-left: 15px;
            }
          }

          i {
            margin-left: 8px;
            transition: margin-left 0.3s ease;
          }
        }
      }

      .right-side {
        grid-area: 1 / 2;
        justify-self: start;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 128px;
        position: relative;
        flex-basis: auto;
        scroll-margin-top: 72px;
        z-index: 1;
        text-align: center;
      }
    }
  }

  // -------------------------------------SecondSection--------------SecondSection-----------------------SecondSection
  .section2-container {
    grid-template-columns: 1fr 1140px 1fr;
    display: grid;
    background: linear-gradient(0deg, rgb(230, 252, 255), rgb(255, 255, 255)) 0%
      0% / auto repeat scroll padding-box border-box rgb(178, 212, 255);
    background-blend-mode: normal;
    > * {
      grid-column: 2;
    }

    .second-section {
      padding-left: 16px;
      padding-top: 16px;
      color: rgb(9, 30, 66);

      .trello-101 {
        font-family: "Charlie-Text", sans-serif;
        letter-spacing: 1px;
        @include fontProps(16px, 500, 20px);
        margin-bottom: 8px;
      }

      .second-section-title {
        font-family: "Charlie-Display", sans-serif;
        @include fontProps(36px, 500, 48px);
        padding-bottom: 14px;
        margin-bottom: 8px;
      }

      .second-section-overview {
        font-family: "Charlie-Text", sans-serif;
        @include fontProps(20px, 400, 30px);
        width: 630px;
        word-spacing: 1px;
        letter-spacing: 1px;
        padding-bottom: 16px;
      }

      .second-section-list-container {
        display: grid;
        grid-template-columns: 379px auto;
        padding-top: 16px;
        padding-bottom: 80px;

        ul {
          list-style: none;
          display: flex;
          gap: 16px;
          flex-direction: column;
          grid-area: 1 / 1;
          padding-right: 32px;
          padding-top: 16px;

          li {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding-right: 16px;
            padding-left: 24px;
            padding-top: 16px;
            padding-bottom: 16px;
            border-radius: 4.8px;
            background-color: transparent;
            h3 {
              font-family: "Charlie-Display", sans-serif;
              @include fontProps(16px, 500, 21.3px);
            }
            p {
              font-family: "Charlie-Text", sans-serif;
              @include fontProps(16px, 400, 24px);
              letter-spacing: 0.7px;
              word-spacing: 0.8px;
            }
          }

          .selected-card {
            background-color: white;
            box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
            position: relative;
            &::before {
              border-bottom-left-radius: 4.8px;
              border-top-left-radius: 4.8px;
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 8px; /* Adjust this for the width of the colored line */
              background-color: rgb(0, 199, 229); /* Color of the line */
            }
          }
        }
        Img {
          padding-top: 16px;
          width: 97%;
        }
      }
    }
  }

  // -------------------------------------ThirdSection--------------ThirdSection-----------------------ThirdSection
  .section3-container {
    grid-template-columns: 1fr 1140px 1fr;
    display: grid;
    overflow-x: hidden;
    > * {
      grid-column: 2;
    }

    .third-section {
      color: rgb(9, 30, 66);
      margin-top: 48px;
      .section-header {
        padding: 16px;
        p {
          font-family: "Charlie-Text", sans-serif;
          letter-spacing: 0.5px;
          @include fontProps(16px, 500, 20px);
          margin-bottom: 10px;
        }
        h1 {
          font-family: "Charlie-Display", sans-serif;
          @include fontProps(36px, 500, 48px);
          padding-bottom: 16px;
        }
      }
      .arrow-btns {
        display: flex;
        justify-content: flex-end;
        gap: 15px;
        button {
          border: none;
        }
      }
      .carousel {
        width: 100%;
        display: flex;
        list-style: none;
        overflow-x: auto;
      }
      .card-container {
        flex: 0 0 33%;
        padding: 16px;
      }
      .carousel-card {
        border-radius: 8px;
        box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
        .card-color {
          border-top-left-radius: 8px; /* Adjust as needed */
          border-top-right-radius: 8px;
          height: 48px;
        }
        .card-content {
          padding: 24px;
          padding-top: 36px;

          h3 {
            font-family: "Charlie-Display", sans-serif;
            @include fontProps(24px, 500, 32px);
            margin-block-end: 8px;
          }
          p {
            font-family: "Charlie-Text", sans-serif;
            @include fontProps(16px, 400, 24px);
            margin-block-end: 8px;
          }
        }

        &.carousel-card-1 {
          .card-color {
            background-color: rgb(255, 116, 82);
          }
        }
        &.carousel-card-2 {
          .card-color {
            background-color: rgb(38, 132, 255);
          }
        }
        &.carousel-card-3 {
          .card-color {
            background-color: rgb(87, 217, 163);
          }
        }
        &.carousel-card-4 {
          .card-color {
            background-color: rgb(255, 196, 0);
          }
        }
        &.carousel-card-5 {
          .card-color {
            background-color: rgb(0, 199, 229);
          }
        }
        &.carousel-card-6 {
          .card-color {
            background-color: rgb(249, 156, 219);
          }
        }
      }
    }
  }
}
