.login-signup-page {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 0px;
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
}

.image-left {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 400px;
    max-width: 30%;
    z-index: -100;
}

.image-right {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 400px;
    max-width: 30%;
    z-index: -100;
}

.login-signup-preview {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    width: 400px;
    padding: 32px 40px;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: #0000001a 0px 0px 10px;
    box-sizing: border-box;
    color: #5e6c84;

    .header {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        text-align: center;
        margin-bottom: 16px;

        .title {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 30px;
            gap: 10px;

            h1 {
                font-weight: 700;
            }
        }

        .sub-title {
            font-weight: 600;
            font-size: 20px;

        }
    }

    input:placeholder-shown {
        text-overflow: ellipsis;
    }

    input:not([data-compact]) {
        padding: var(--ds-space-100, 8px) var(--ds-space-075, 6px);
        height: 2.57em;
    }

    .form-item {
        margin: 10px;
        background-color: #FAFBFC;
        color: #091E42;
        cursor: text;
        border-radius: 3px;
        border: 2px solid #DFE1E6;
        box-sizing: border-box;
        font-size: 14px;
        min-width: 0px;
        outline: none;
        width: 100%;
        writing-mode: horizontal-tb !important;
        padding-block: 1px;
        padding-inline: 2px;
        line-height: 1.42857;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    }

    .btn {
        background-color: $clr-background-brand-bold;
        box-shadow: none;
        border: none;
        color: white;
        border-radius: 3px;
        padding: 6px 12px;
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;
    }

    .cancel-btn {
        border-radius: 3px;
        border: 2px solid #DFE1E6;
        box-sizing: border-box;
        font-size: 14px;
        float: right;
    }

    .link {
        margin-top: 10px;
        padding: 32px 40px;
        color: $clr-background-brand-bold;
        font-size: 13px;
    }

    .user-info {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;

        .user-img {
            height: 100px;
            width: 100px;
        }
    }

    .user-avatar {
        font-size: 18px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border-width: 0px;
    }
}