/* General props & main layout */
.task-details {
    &-wrapper {
        z-index: 20;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: start;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.64);
        overflow-x: hidden;
        overflow-y: auto;
    }

    position: relative;
    margin: 48px 0px 80px 0px;
    width: clamp(200px, 100%, 768px);
    border-radius: 12px;
    background-color: $clr-bg-default;
    display: grid;
    overflow: hidden;
    color: $clr-text-black;
    min-height: 50%;

    h1 {
        @include fontProps(20px, 600, 24px);
    }

    h2 {
        @include fontProps(16px, 600, 20px);
    }

    h3 {
        color: $clr-text-black-subtle;
        @include fontProps(12px, 600, 20px);
    }

    &-icon-close {
        z-index: 21;
        position: absolute;
        top: 12px;
        right: 12px;
        display: block;
        box-sizing: content-box;
        width: 20px;
        height: 20px;
        padding: 10px;
        border-radius: 50%;

        & i {
            z-index: 22;
            box-sizing: content-box;
            display: block;
            width: 20px;
            height: 20px;
        }
    }

    &-cover {
        position: relative;
        height: 116px;

        &-btn {
            position: absolute;
            bottom: 12px;
            right: 12px;
            padding: 6px 12px 6px 6px;
            display: flex;
            align-items: center;

            i {
                box-sizing: border-box;
                width: 20px;
                height: 20px;
                padding: 5px 4px 4.7px 4px;
            }
        }
    }

    &-data {
        padding: 8px 16px 32px 16px;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 168px;
        grid-template-areas:
            "a a"
            "b c";
    }

    &-header {
        grid-area: a;
        padding: 0px 52px 8px 0px;
        position: relative;

        & textarea {
            @include fontProps(20px, 600, 24px);
            height: 37px;
            padding: 6px 10px 6px 10px;
            margin: 6px -10px -6px -10px;
        }

        & span {
            @include fontProps(14px, 400, 20px);
            margin: 0px 8px 12px 2px;
            display: inline-flex;

            a {
                text-decoration: underline;
            }
        }

        & .icon-watch-task {
            width: 16px;
            margin-left: 10px;
        }
    }

    &-main {
        grid-area: b;
    }

    &-sidebar {
        grid-area: c;

        &-prop {
            display: grid;
            grid-template-columns: 1fr;
            gap: 8px;
            margin-bottom: 10px;
        }

        &-actions {
            display: grid;
            grid-template-columns: 1fr;
            gap: 8px;
        }

        .sidebar-header {
            margin-bottom: -4px;
        }
    }

    &-brief-items {
        display: flex;
        margin-top: 8px;

        .brief-item {
            margin: 0px 16px 8px 0px;

            h3 {
                margin-bottom: 4px;
            }

            .brief-data {
                display: inline-flex;
                gap: 4px;
            }
        }
    }

}


/* Detailed layout & props */
.td {
    &-section {
        margin-left: 40px;
    }

    &-section-icon {
        position: absolute;
        top: 8px;
        left: -40px;
        display: grid;
        justify-content: center;
        align-content: center;
        height: 32px;
        width: 32px;
    }

    &-btn {
        @include btnColors($clr-dynamic-button-black-hovered, $clr-dynamic-button-black-pressed, $clr-bg-neutral);
        @include fontProps(14px, 500, 20px);
        height: 32px;
        display: flex;
        align-items: center;

        & i {
            margin-left: 2px;
            margin-right: 8px;
            height: 16px;
            width: 16px;
        }
    }

    &-members {
        button {
            height: 32px;
            width: 32px;
            border-radius: 50%;
            border-width: 0px;
        }

        .add-btn {
            display: grid;
            align-items: center;
            justify-items: center;
        }
    }

}