
.task-details {
    &-wrapper {
        z-index: 20;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: grid;
        align-items: center;
        justify-items: center;
        background-color: rgba(0, 0, 0, 0.64);
    }

    position: relative;
    margin: 48px 0px 80px 0px;
    width: clamp(200px, 100%, 768px);
    border-radius: 12px;
    background-color: $clr-bg-default;
    display: grid;
    overflow: hidden;
    color: $clr-text-black;
    min-height: 50%;

    &-icon-close {
        z-index: 21;
        position: absolute;
        top: 12px;
        right: 12px;
        display: block;
        box-sizing: content-box;
        width: 20px;
        height: 20px;
        padding: 10px;
        border-radius: 50%;
        & i {
            z-index: 22;
            box-sizing: content-box;
            display: block;
            width: 20px;
            height: 20px;
        }
    }

    &-cover {
        position: relative;
        height: 116px;
        background-color: $clr-bg-red;  /* test */

        &-btn {
            position: absolute;
            bottom: 12px;
            right: 12px;
            padding: 6px 12px 6px 6px;
            border-radius: 3px;
            border-width: 0px;
            display: flex;
            align-items: center;

            i {
                box-sizing: border-box;
                width: 20px;
                height: 20px;
                padding: 5px 4px 4.7px 4px;
            }
        }
    }

    &-btn {
        @include btnColors($clr-dynamic-button-black-hovered, $clr-dynamic-button-black-pressed, $clr-bg-neutral);
        @include fontProps(14px, 500, 20px);
        height: 32px;
        display: flex;
        align-items: center;

        & i {
            margin-left: 2px;
            margin-right: 8px;
            height: 16px;
            width: 16px;
        }
    }

    &-data {
        padding: 8px 16px 32px 16px;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 168px;
        grid-template-areas:
         "a a" 
         "b c";
    }

    &-header {
        grid-area: a;
        padding: 8px 52px 8px 56px;
        position: relative;

        & .icon-task-details-header {
            position: absolute;
            top: 24px;
            left: 22px;
            display: block;
            box-sizing: border-box;
            height: 15px;
        }

        & h1 {
            @include fontProps(20px, 600, 24px);
            margin-top: 12px;
        }

        & h2 {
            color: $clr-text-black-subtle;
            @include fontProps(14px, 400, 20px);
            margin: 4px 8px 12px 2px;
            display: inline-flex;
        }

        & .icon-watch-task {
            width: 16px;
            margin: 0px 8px 0px 2px;
        }
    }

    &-main {
        grid-area: b;
    }

    &-sidebar {
        grid-area: c;
        &-prop, &-actions {
            display: grid;
            grid-template-columns: 1fr;
            gap: 8px;
        }
    }



}

