/* 
one-element-page-parent
one-element-page-child
scrollable-thin
scrollable-square-black
scrollable-square-white
*/

.one-element-page {
  /* one-element-page-parent */
  &-parent {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: rgb(71, 71, 71);
    color: rgb(162, 167, 172);
  }

  /* one-element-page-child */
  &-child {
    background-color: rgb(46, 46, 46);
    border-radius: 20px;
    border-color: rgb(82, 82, 82);
    border-width: 2px;
    border-style: solid;
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.2),
      inset -1px 0 0 rgba(255, 255, 255, 0.2), 0 0 4px 0 rgba(95, 99, 104, 0.6),
      0 0 6px 2px rgba(95, 99, 104, 0.6);
    width: max(400px, 50vw);
    height: max(400px, 50vh);

    & h1 {
      font-size: 40px;
      margin: 30px 10px 10px 10px;
    }

    & nav * {
      margin: 12px;
      font-size: 22px;

      &.active {
        color: rgb(206, 212, 218);
      }
    }
  }
}

/* scrollable-thin */
.scrollable-thin {
  overflow-y: scroll;
}

.scrollable-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollable-thin::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: transparent;
}

.scrollable-thin:hover::-webkit-scrollbar-thumb {
  background-color: rgb(112, 112, 112);
}

.scrollable-thin::-webkit-scrollbar-thumb:hover {
  background-color: rgb(232, 232, 232);
}

/* scrollable-square-black */
.scrollable-square-black {
  overflow-y: scroll;
}

.scrollable-square-black::-webkit-scrollbar {
  width: 11px;
}

.scrollable-square-black::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2) inset;
}

.scrollable-square-black::-webkit-scrollbar-track:hover {
  background: rgb(66, 66, 66);
  box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.18) inset;
}

.scrollable-square-black::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5) inset;
}

.scrollable-square-black::-webkit-scrollbar-thumb:active {
  background-color: rgba(255, 255, 255, 0.9);
}

.scrollable-square-black::-webkit-scrollbar-track:active {
  box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2) inset;
}

/* scrollable-square-white */
.scrollable-square-white {
  overflow-y: scroll;
}

.scrollable-square-white::-webkit-scrollbar {
  width: 9px;
}

.scrollable-square-white::-webkit-scrollbar-thumb {
  background-color: rgb(204, 204, 204);
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1) inset,
    0px -1px 0px rgba(0, 0, 0, 0.07) inset;
}

.scrollable-square-white::-webkit-scrollbar-thumb:hover {
  background-color: rgb(148, 148, 148);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25) inset;
}

.scrollable-square-white::-webkit-scrollbar-track:hover {
  background: rgb(246, 246, 246);
  box-shadow: 1px 0px 0px rgb(211, 211, 211) inset;
}

.scrollable-square-white::-webkit-scrollbar-thumb:active {
  background-color: rgb(121, 121, 121);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35) inset;
}

.scrollable-square-white::-webkit-scrollbar-track:active {
  background-color: rgb(242, 242, 242);
  box-shadow: 1px 1px 0px rgb(208, 208, 208) inset;
}

.btn {
  margin: 0;
  border: 0;
  border-radius: 3px;
  background-color: rgb(223, 225, 230);

  & :hover {
    background-color: white;
  }
}

.transparent-btn {
  &-black {
    @include btnColors(
      $clr-dynamic-button-black-hovered,
      $clr-dynamic-button-black-pressed
    );
  }

  &-white {
    @include btnColors(
      $clr-dynamic-button-white-hovered,
      $clr-dynamic-button-white-pressed
    );
  }

  &-neutral {
    @include btnColors(
      $clr-bg-neutral-hovered,
      $clr-bg-neutral-pressed,
      $clr-bg-neutral
    );
  }
}

.basic-btn-blue {
  @include btnColors(
    $clr-bg-blue-bold-hovered,
    #09326c,
    $clr-bg-blue-bold
  );
}

