.icon-drag {
  content: url("//www.gstatic.com/images/icons/material/system_gm/2x/drag_indicator_white_20dp.png");
}

.icon-logo {
  content: url("/icons/trello-blue.svg");
  width: 40px;
  height: 40px;
}

// Text
.icon-text-bold {
  content: url("/icons/text-bold.svg");
}

.icon-text-italic {
  content: url("/icons/text-italic.svg");
}

// TaskDetails
.icon-close-grayblue {
  @include iconCustomColor(#42526e, "/icons/close.svg");
}

.icon-close-white {
  @include iconCustomColor(#ffffff, "/icons/close.svg");
}

.icon-task-details-cover {
  content: url("/icons/task-cover.png");
}

.icon-task-diagonal-arrow {
  content: url("/icons/diagonal-arrow.png");
  height: 8px;
}

.icon-task-header {
  content: url("/icons/task-header.png");
  height: 17px;
}

.icon-task-trello-attach {
  content: url("/icons/trello.svg");
  width: 24px;
}

.icon-task-activity {
  content: url("/icons/activity.png");
  width: 24px;
}

.icon-task-header-cover {
  content: url("/icons/task-cover.png");
}

.icon-watch-task {
  content: url("/icons/watch-task.svg");
  width: 16px;
}

.icon-task-down {
  content: url("/icons/down.svg");
  width: 16px;
}

.icon-task-description {
  content: url("/icons/description.svg");
}

.icon-task-check-mark {
  content: url("/icons/check-mark.svg");
  width: 16px;
}

.icon-task-check-mark-black {
  content: url("/icons/check-mark-black.svg");
  width: 16px;
}

.icon-task-check-mark-dyn {
  @include iconCustomColor(#ffffff, "/icons/check-mark.svg");
}

.icon-task-members {
  content: url("/icons/member-gray.svg");
}

.icon-task-labels {
  content: url("/icons/labels.png");
}

.icon-task-checklist {
  content: url("/icons/checklists.svg");
}

.icon-task-dates {
  content: url("/icons/clock.png");
}

.icon-task-attachments {
  content: url("/icons/attachment.svg");
  width: 16px;
  height: 16px;
}

.icon-task-attachments-big {
  content: url("/icons/attachment.svg");
  width: 20px;
  height: 20px;
}

.icon-task-cover {
  content: url("/icons/cover.png");
}

.icon-task-move {
  content: url("/icons/arrow-right.png");
}

.icon-task-copy {
  content: url("/icons/copy.svg");
}

.icon-task-make-template {
  content: url("/icons/template.svg");
}

.icon-task-archive {
  content: url("/icons/archive.png");
}

.icon-task-share {
  content: url("/icons/share.svg");
}

.icon-task-plus {
  content: url("/icons/plus.svg");
  width: 16px;
}

.icon-task-plus2 {
  content: url("/icons/plus2.svg");
  width: 16px;
}

//AppHeder Icons
.icon-show-more {
  content: url("/icons/show-more.svg");
}

.icon-show-more-dark {
  content: url("/icons/show-more-dark.svg");
}

.icon-add {
  content: url("/icons/add.svg");
}

.icon-search {
  content: url("/icons/search.svg");
}

.icon-notifications {
  content: url("/icons/notifications.svg");
}

.icon-info {
  content: url("/icons/information.svg");
}

.icon-account {
  content: url("/icons/member-add.svg");
}

//BoardHeader icons
.icon-star {
  content: url("/icons/star.svg");
}

.icon-star-black {
  content: url("/icons/star-black.svg");
}

.icon-star-starred {
  @include iconCustomColor(rgb(226, 178, 3), "/icons/star-filled.svg");
  width: 18px;
  height: 18px;
}

.icon-star-starred-hovered {
  @include iconCustomColor(rgb(226, 178, 3), "/icons/star.svg");
  width: 15px;
  height: 15px;
}

.icon-star-dark {
  content: url("/icons/star-dark.svg");
}

.icon-members {
  content: url("/icons/members.svg");
}

.icon-board {
  content: url("/icons/board.svg");
}

.icon-power {
  content: url("/icons/power.svg");
}

.icon-automation {
  content: url("/icons/automation.svg");
}

.icon-filter {
  content: url("/icons/filter.svg");
}

.icon-filter-black {
  content: url("/icons/filter-black.svg");
}

.icon-member {
  content: url("/icons/member.svg");
}

.icon-side-bar {
  content: url("/icons/more-options.svg");
}

.icon-show-options {
  content: url("/icons/svgexport-36.svg");
}

// Homepage
.icon-play {
  // content: url("/icons/play-icon.svg");
  @include iconCustomColor(#ffffff, "/icons/play-icon.svg");
  width: 25px;
  height: 24px;
}

.icon-carousel-right {
  content: url("/icons/carousel-arrow-right.svg");
}

.icon-carousel-left {
  content: url("/icons/carousel-arrow-left.svg");
}

//BoardDetails
.icon-template {
  content: url("/icons/template.svg");
  width: 19px;
  height: 19px;
}

.icon-edit {
  content: url("/icons/edit.svg");
  width: 18px;
  height: 18px;
}

// TaskDetails
.icon-description {
  content: url("/icons/description.svg");
  width: 17px;
  height: 17px;
}

.icon-comments {
  content: url("/icons/comments.svg");
  width: 17px;
  height: 17px;
}

.icon-checklists {
  content: url("/icons/checklists.svg");
  width: 17px;
  height: 17px;
}

.icon-checklists-white {
  content: url("/icons/checklists-white.svg");
  width: 15px;
  height: 15px;
}

.icon-clock-alert- {
  content: url("/icons/clock-alert.svg");
  width: 15px;
  height: 15px;
}

.icon-clock-alert-past {
  content: url("/icons/clock-red.svg");
  width: 15px;
  height: 15px;
}

.icon-clock-alert-today {
  content: url("/icons/clock-white.svg");
  width: 15px;
  height: 15px;
}

.icon-clock-alert-yesterday {
  content: url("/icons/clock-white.svg");
  width: 15px;
  height: 15px;
}

.icon-member-gray {
  content: url("/icons/member-gray.svg");
  width: 17px;
  height: 17px;
}

.icon-close-regular {
  content: url("/icons/close.svg");
}

.icon-close-add-task {
  content: url("/icons/close.svg");
  width: 18px;
  height: 18px;
}

.icon-more-options {
  content: url("/icons/more-options.svg");
  width: 17px;
  height: 17px;
}

.icon-add-group {
  content: url("/icons/add-group.svg");
  width: 17px;
  height: 17px;
}

.icon-add-task {
  content: url("/icons/add-task.svg");
  width: 17px;
  height: 17px;
}

.icon-add-non-style {
  content: url("/icons/add.svg");
  width: 17px;
  height: 17px;
}

.icon-left-for-modals {
  content: url("/icons/left-for-modals.svg");
}
