@mixin fontProps($fontSize, $fontWeight, $lineHeight: null) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}

@mixin transitionAction(
  $property,
  $hoverValue,
  $transitionTime,
  $action: hover
) {
  transition: $property $transitionTime ease-out 0s;

  &:#{$action} {
    #{$property}: $hoverValue;
  }
}

@mixin iconCustomColor($color, $urlPath) {
  -webkit-mask: url($urlPath);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
  background-color: $color;
}
