/* Label Colors */
$clr-bg-default: #f1f2f4;
$clr-bg-default-hovered: #e3e6ea;
$clr-bg-default-pressed: #d0d4dc;

$clr-bg-lime-subtle: #d3f1a7;
$clr-bg-lime-subtle-hovered: #b3df72;
$clr-bg-lime: #94c748;
$clr-bg-lime-hovered: #b3df72;
$clr-bg-lime-bold: #5b7f24;
$clr-bg-lime-bold-hovered: #4c6b1f;
$clr-bg-red-subtle: #ffd5d2;
$clr-bg-red-subtle-hovered: #fd9891;
$clr-bg-red: #f87168;
$clr-bg-red-hovered: #fd9891;
$clr-bg-red-bold: #c9372c;
$clr-bg-red-bold-hovered: #ae2e24;
$clr-bg-orange-subtle: #fedec8;
$clr-bg-orange-subtle-hovered: #fec195;
$clr-bg-orange: #fea362;
$clr-bg-orange-hovered: #fec195;
$clr-bg-orange-bold: #c25100;
$clr-bg-orange-bold-hovered: #a54800;
$clr-bg-yellow-subtle: #f8e6a0;
$clr-bg-yellow-subtle-hovered: #f5cd47;
$clr-bg-yellow: #f5cd47;
$clr-bg-yellow-hovered: #e2b203;
$clr-bg-yellow-bold: #946f00;
$clr-bg-yellow-bold-hovered: #7f5f01;
$clr-bg-green-subtle: #baf3db;
$clr-bg-green-subtle-hovered: #7ee2b8;
$clr-bg-green: #4bce97;
$clr-bg-green-hovered: #7ee2b8;
$clr-bg-green-bold: #1f845a;
$clr-bg-green-bold-hovered: #216e4e;
$clr-bg-sky-subtle: #c6edfb;
$clr-bg-sky-subtle-hovered: #9dd9ee;
$clr-bg-sky: #6cc3e0;
$clr-bg-sky-hovered: #9dd9ee;
$clr-bg-sky-bold: #227d9b;
$clr-bg-sky-bold-hovered: #206a83;
$clr-bg-blue-subtle: #cce0ff;
$clr-bg-blue-subtle-hovered: #85b8ff;
$clr-bg-blue: #579dff;
$clr-bg-blue-hovered: #85b8ff;
$clr-bg-blue-bold: #0c66e4;
$clr-bg-blue-bold-hovered: #0055cc;
$clr-bg-purple-subtle: #dfd8fd;
$clr-bg-purple-subtle-hovered: #b8acf6;
$clr-bg-purple: #9f8fef;
$clr-bg-purple-hovered: #b8acf6;
$clr-bg-purple-bold: #6e5dc6;
$clr-bg-purple-bold-hovered: #5e4db2;
$clr-bg-pink-subtle: #fdd0ec;
$clr-bg-pink-subtle-hovered: #f797d2;
$clr-bg-pink: #e774bb;
$clr-bg-pink-hovered: #f797d2;
$clr-bg-pink-bold: #ae4787;
$clr-bg-pink-bold-hovered: #943d73;
$clr-bg-black-subtle: #dcdfe4;
$clr-bg-black-subtle-hovered: #b3b9c4;
$clr-bg-black: #8590a2;
$clr-bg-black-hovered: #b3b9c4;
$clr-bg-black-bold: #626f86;
$clr-bg-black-bold-hovered: #44546f;
$clr-bg-black-bold-pressed: #2c3e5d;

/* danger colors */
$clr-bg-danger-bold: #c9372c;

/* Mostly for neutral buttons */
$clr-bg-neutral: #091e420f;
$clr-bg-neutral-hovered: #091e4224; /* SAME AS: clr-dynamic-button-black-hovered */
$clr-bg-neutral-pressed: #091e424f; /* SAME AS: clr-dynamic-button-black-pressed */

/* For transparent buttons with dynamic colors */
$clr-dynamic-button-black: transparent;
$clr-dynamic-button-black-hovered: #091e4224;
$clr-dynamic-button-black-pressed: #091e424f;
$clr-dynamic-button-white: transparent;
$clr-dynamic-button-white-hovered: #a6c5e229;
$clr-dynamic-button-white-pressed: #bfdbf847;

/* text */
$clr-text-black: #172b4d;
$clr-text-black-subtle: #44546f;
